#clients {
    background-color: rgb(236, 236, 236);
    padding: 120px 0;
    position: relative;

    > .shape-up {
        position: absolute;
        top: -2px;
        left: 0;
        height: 100px;
        width: 100%;
        clip-path: polygon(0 0, 100% 41%, 100% 0);
        background-color: white;
    }

    > .shape-down {
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 100px;
        width: 100%;
        clip-path: polygon(0 31%, 0% 100%, 100% 100%);
        background-color: white;
    }

    .clients__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        > .title {
            @include main-heading();
        }

        > .desc {
            width: 50%;
        }

        .single {
            width: 350px;
            height: 350px;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s;
            background-color: white;
            @include boxShadow();

            &:hover {
                transition: 0.4s;
                border-radius: 5px;
                transform: translateY(-5px);
                background-color: $primary;
                @include boxShadow();
            }

            > .image {
                transition: 0.4s;
                width: 70%;
            }

            &:hover > .image {
                filter: brightness(0) invert(1);
                transition: 0.4s;
            }
        }
    }
}
