.wpcf7 {
    text-align: left;

    input[type="email"],
    textarea {
        padding: 0.5rem;
        background: none;
        border: none;
        border-bottom: 1px solid white;
        resize: none;
        color: white;
        font-family: "Montserrat", sans-serif;

        &::placeholder {
            color: white;
        }
    }

    .wpcf7-submit {
        background-color: white;

        color: $primary;
        padding: 0.25rem 1rem;
        border-radius: 4px;
        border: 1px solid $primary;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            transform: translateY(10px);
            transition: 0.4s;
        }
    }
}
